 .vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 50%;
}
body {
  background-size: cover;
}
/*Vertical Tabs*/
.vertical-mdl-tabs .mdl-tabs__tab-bar {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: inherit;
    border-bottom: none;
    border-right: 1px solid rgba(10, 11, 49, 0.20);
}
md-input-container {
	width: 100%;
	text-align: left;
}
md-content {
	  border-top-right-radius: 25px;
	  border-bottom-left-radius: 25px;
	  }
.vertical-mdl-tabs .mdl-tabs__tab {
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 2px;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
    border-right: 2px solid #ED462F;
}
.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    content: inherit;
    height: 0;
}

.vertical-mdl-tabs.mdl-tabs .mdl-tabs__tab {
    text-align: left;
}


.whiteframedemoDirectiveAttributeUsage {
  /* For breakpoint `-xs` */
  /* For breakpoint `-sm` */
  /* For breakpoint `-md` */
  /* For breakpoint `-gt-md` */}
  .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
    background: #fff;
    margin: auto;
    height: 100px; }
  @media (max-width: 599px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
      margin: auto;
      height: auto;
      background-color: #c8e4fa; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
      font-size: 0.4em; } }
  @media (min-width: 600px) and (max-width: 959px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
      margin: auto;
      height: auto; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
      font-size: 0.6em; } }
  @media (min-width: 960px) and (max-width: 1279px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
      margin: auto;
      height: auto;
      background-color: #fcddde; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
      font-size: 0.9em; } }
  @media (min-width: 1280px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
      margin: auto;
      height: auto;
	  border-top-right-radius: 25px;
	  border-bottom-left-radius: 25px;
      background-color: #cd0000; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
      font-size: 1.0em; } }

	  md-tabs {
	  width: 928px;
	  height: auto;
	  }
	  md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
 color: rgba(221, 44, 0, 0.93);
	  }
 .selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px;
	}

.checkboxdemoSelectAll .demo-legend {
  color: #cd0000; }

.checkboxdemoSelectAll .demo-fieldset {
  border-style: solid;
  border-width: 1px;
  height: 100%; }

.checkboxdemoSelectAll .demo-select-all-checkboxes {
  padding-left: 30px; }

/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/